{% load widget_tweaks %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<body>
<br>
<br>
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
      <div class="form-group">
        {{ error }}
      </div>
      {% endfor %}
    </div>
        </div>
    </div>
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
      {{ field.label_tag }}
      </div>
      </div>

      {% if form.is_bound %}
        {% if field.errors %}

          <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3">
              {% render_field field class="form-control form-control-sm is-invalid" %}
            </div>
            </div>
          {% for error in field.errors %}
          <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3">
              {{ error }}
            </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3">
          {% render_field field class="form-control form-control-sm is-valid input-sm" %}
          </div>
          </div>
        {% endif %}
      {% else %}
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3">
        {% render_field field class="form-control form-control-sm input-sm" %}
        </div>
        </div>
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>
</body>
</html>